Django==4.2.3
psycopg2-binary>=2.8
django-filter==23.2
django-phonenumber-field==7.1.0
djangorestframework==3.14.0
drf-yasg==1.21.6
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.1
phonenumberslite==8.13.15
psycopg2-binary>=2.8
celery
redis
