{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

{% comment %} <div class="container"> {% endcomment %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Device List</h1>
        <a href="{% url 'device-create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-user fa-sm text-white-50"></i> Add new device</a>
    </div>

    <div class="row">
        <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">List of devices</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                    {% comment %} <canvas id="myAreaChart"></canvas> {% endcomment %}
                <table class="table table-bordered table-radius table-condensed table-hover table-stripped table-responsive-fluid">
                  <thead>
                    <tr>
                        <th>LOCATION</th><th>DEVICE ID</th><th>TIMESTAMP</th><th>Actions</th>
                      </thead>
                    </tr>
                    <tfoot>
                      <tr>
                        <th>LOCATION</th><th>DEVICE ID</th><th>TIMESTAMP</th><th>Actions</th>
                      </tr>
                    </tfoot>
                    {% if not devices %}
                    <tbody>
                      <tr>
                        <td colspan="4">No record found.
                        </td>
                      </tr>
                    </tbody>
                    {% else %}
                      {% for device in devices %}
                      <tr>
                          <td>
                              {{device.location}}</td>
                              <td>{{device.device_id}}</td>
                              <td>{{device.description}}</td>
                              <td>
                                  <a href="{% url 'device-detail' pk=device.id %}" class="btn btn-small btn-primary"><i class="fas fa-fw fa-eye"></i></a> &nbsp;
                                  <a href="{% url 'device-update' pk=device.id %}" class="btn btn-small btn-warning"><i class="fas fa-fw fa-edit"></i></a> &nbsp;
                                  <a href="{% url 'device-delete' pk=device.id %}" class="btn btn-small btn-danger"><i class="fas fa-fw fa-trash"></i></a>
                              </td>
                      </tr>
                      {% endfor %}
                    {% endif %}
                    {% comment %} {% else %}
                    <p class="alert alert-info">No record found.</p>
                    {% else %} {% endcomment %}
                </table>
                <nav aria-label="Page navigation example">
                    {% if is_paginated %}
                    <ul class="pagination">
                      {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}"
                          >&laquo;</a
                        >
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                      </li>
                      {% endif %} 
                      {% for i in paginator.page_range %} 
                      {% if page_obj.number == i %}
                      <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                      {% else %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                      </li>
                      {% endif %} {% endfor %} {% if page_obj.has_next %}
                      <li class="page-item">
                        <a href="?page={{page_obj.next_page_number}}" class="page-link"
                          >&raquo;</a
                        >
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                      </li>
                      {% endif %}
                    </ul>
                    {% endif %}
                  </nav>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}